

body {
    padding: 8px 8px 8px 8px;
}

.saveBod {
    margin-top: 8%;
    text-align: center;
}

.survivorLogo {
    margin-bottom: 20px;
}

.saveErr {
    color: red;
    font-weight: bold;
}

.inputCh {
    border: none;
    background-color: transparent;
}

.inputCh:hover {
    border: none;
}

.header {
    font-size: 32px;
    color: #2d2d2d;
    margin-bottom: 10px;
}