

body {
    padding: 8px 8px 8px 8px;
}

button:focus {
    outline: 0;
}

.saveBod {
    margin-top: 8%;
    text-align: center;
}

.survivorLogo {
    margin-bottom: 20px;
}

.saveErr {
    color: red;
    font-weight: bold;
}

.inputCh {
    border: none;
    background-color: transparent;
}

.inputCh:hover {
    border: none;
}

.header {
    font-size: 32px;
    color: #2d2d2d;
    margin-bottom: 10px;
}

.smoll {
    font-size: 14px;
    color: grey;
}

.ontop {
    z-index: 99;
}

.dropdown {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 4px;
    z-index: 1;
}

.dropdown-btn {
    border: none;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    transition: background-color 1s linear;
}

.dropdown-btn:hover {
    border: none;
    background-color: lightgrey; 
}

.dropdown-btn:focus {
    outline: 0;
}

.r-btn {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    transition: background-color 1s linear;
}

.r-btn:focus {
    border: none;
    background-color: lightgrey;
    outline: 0;
}

